In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/teams (1).csv")
df.head()

  team  year  athletes  events   age  height  weight  prev_medals  medals
0  AFG  1964         8       8  22.0   161.0    64.2          0.0       0
1  AFG  1968         5       5  23.2   170.2    70.0          0.0       0
2  AFG  1972         8       8  29.0   168.3    63.8          0.0       0
3  AFG  1980        11      11  23.6   168.4    63.2          0.0       0
4  AFG  2004         5       5  18.6   170.8    64.8          0.0       0

In [ ]:
df.shape

(2014, 9)

In [ ]:
df.info()      # no null value available

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2014 entries, 0 to 2013
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   team         2014 non-null   object
 1   year         2014 non-null   int64
 2   athletes     2014 non-null   int64
 3   events       2014 non-null   int64
 4   age          2014 non-null   float64
 5   height       2014 non-null   float64
 6   weight       2014 non-null   float64
 7   prev_medals  2014 non-null   float64
 8   medals       2014 non-null   int64
dtypes: float64(4), int64(4), object(1)
memory usage: 141.7+ KB

In [ ]:
X1 = df[['athletes','prev_medals']].copy()
Y = df[['medals']].copy()

In [ ]:
X1,Y

(      athletes  prev_medals
 0            8          0.0
 1            5          0.0
 2            8          0.0
 3           11          0.0
 4            5          0.0
 ...        ...          ...
 2009        26          0.0
 2010        14          0.0
 2011        16          3.0
 2012         9          4.0
 2013        31          0.0

 [2014 rows x 2 columns],       medals
 0          0
 1          0
 2          0
 3          0
 4          0
 ...      ...
 2009       0
 2010       3
 2011       4
 2012       0
 2013       0

 [2014 rows x 1 columns])

In [ ]:
X1['intercept'] = 1
X2 = X1[['intercept','athletes','prev_medals']]

In [ ]:
X2

      intercept  athletes  prev_medals
0             1         8          0.0
1             1         5          0.0
2             1         8          0.0
3             1        11          0.0
4             1         5          0.0
...         ...       ...          ...
2009          1        26          0.0
2010          1        14          0.0
2011          1        16          3.0
2012          1         9          4.0
2013          1        31          0.0

[2014 rows x 3 columns]

In [ ]:
X2_transpose = X2.T
X2_transpose

,0,1,2,3,4,5,6,7,8,9,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
intercept,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
athletes,8.0,5.0,8.0,11.0,5.0,4.0,6.0,3.0,4.0,5.0,...,52.0,20.0,47.0,28.0,21.0,26.0,14.0,16.0,9.0,31.0
prev_medals,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,15.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0,0.0

In [ ]:
B = np.linalg.inv(X2_transpose @ X2) @ X2_transpose @ Y       # result is b0 which is intercept,b1,b2
B.index = X2.columns
B

               medals
intercept   -1.961889
athletes     0.071112
prev_medals  0.734137

In [ ]:
predictions = X2 @ B
predictions

        medals
0    -1.392992
1    -1.606329
2    -1.392992
3    -1.179656
4    -1.606329
...        ...
2009 -0.112974
2010 -0.966319
2011  1.378315
2012  1.614667
2013  0.242587

[2014 rows x 1 columns]

In [ ]:
SSR = ((Y - predictions)**2).sum()
SSR

medals    290620.124598
dtype: float64

In [ ]:
SST = ((Y - Y.mean())**2).sum()
SST

medals    2.276322e+06
dtype: float64

In [ ]:
R_square = (1 - (SSR/SST))
R_square         # R2 value is 0.87 which is close to 1 means prediction is good.

medals    0.872329
dtype: float64

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()
lr.fit(df[['athletes','prev_medals']],df[['medals']])

LinearRegression()

In [ ]:
lr.intercept_

array([-1.96188939])

In [ ]:
lr.coef_

array([[0.07111214, 0.73413679]])